*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,  sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#eef2f7
    

}
.container{
    width: 350px;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.15);
    text-align: center;
}
 .container h2{
    margin-bottom: 20px;
    font-size: 26px;
    font-weight:bold;
}
.inputbox{
    text-align: left;
    margin-bottom: 18px;
}
.inputbox label{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
}
.inputbox input{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #bbb;
    outline: none;
    font-size: 14px;
}
inputbox input:focus{
    border-color: #4a90e2;
    box-shadow: 0px 0px 6px rgba(74, 144, 226, 0.4);
}
    

.button{
    width: 100%;
    padding: 12px;
    background: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}
.button:hover{
    background: #357ac9;
}
.forgotpassword{
    margin-top: 15px;
}
.forgotpassword a{
    text-decoration: none;
    color: #4a90e2;
    font-size: 14px;
}
.forgotpassword a:hover{
    text-decoration: underline;
}